body {
    background-color: #fafafa;
    font-family: 'Noto Sans', sans-serif;
}

h1, h3 {
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

.hr {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.name {
    color: #e04c4c;
    text-decoration: underline;
}

.links {
    color: #e04c4c;
}

/* Home page styles */

.home-wrapper {
    min-height: 80vh;
    width: 100%;
    background-color: #fafafa;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

/* Hero Banner */

.hero-banner {
    color: #1c1b1b;
    padding: 6rem;
    text-align: center;
    background-color: transparent;
    height: 30px;
}

/* Logo */

.nav-logo {
    text-decoration: none;
}

#logo {
    font-family: 'Bebas Neue', cursive;
    padding-top: 10px;
    font-size: 250%;
    letter-spacing: 4px;
    color: #fafafa;
}

#logo::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #e04c4c;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#logo:hover::after {
    width: 100%;
}

/* Navbar */

nav {
    background-color: #1c1b1b;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-links {
    flex: 1;
    text-align: right;
    padding-top: 22px;
    letter-spacing: 0.5px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 4px 5px;
    position: relative;
}

.nav-links a {
    color: #fafafa;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #e04c4c;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa-solid {
    display: none;
}

    
.fa-bars {
    color: #fafafa;
}

/* Home page cards */

.card {
    border: none;
    background-color: transparent;
}

.card-title:hover {
    color: #e04c4c;
}

.image-container {
    position: relative;

}

.image-flash {
    position: absolute;
    bottom: 0%;
    min-width: 30%;
    left: 0px;
    background-color: #e04c4c;
}

.author {
    color: #fafafa;
    font-family: 'Bebas Neue';
    font-size: x-large;
    letter-spacing: 1px;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image > image {
    width: 100%;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

small {
    padding-left: 1rem;
}

small a {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-decoration: none;
}

.post-link {
    position: relative;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.5px;
    top: 10px;
    color: #1c1b1b;
}

.post-link:hover,
.page-link {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    color: #fafafa;
    background-color: #e04c4c;
    border-radius: 8px;
}

.post-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    letter-spacing: 1px;
    color: #fafafa;
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #fafafa;
}

/* Alert messages */

.success {
    background-color: #e04c4c;
    color: #fafafa;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 1.3rem;
}

/* About page styles */

.about-wrapper {
    min-height: 80vh;
    width: 100%;
    background-color: #fafafa;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.about-container {
    width: 80%;
    color: #1c1b1b;
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: center;
    flex-direction: column;
}

.about-container h2 {
    font-size: 3rem;
    padding: 1rem;
}

.about-container p {
    font-size: 1rem;
    padding-top: 1rem;
}

/* Contact page */

.contact-form {
    color: #1c1b1b;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    padding: 2rem;
    text-decoration: underline;
}

/* Contact success page */

.form-success {
    min-height: 80vh;
    padding: 5rem;
    background-color: #1c1b1b;
}

.form-success h1 {
    color: #fafafa;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    padding: 4rem;
    text-decoration: underline;
}

.form-success p {
    color: #fafafa;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
}

/* Account container */

.account-container {
    min-height: 80vh;
    width: 80%;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
}

#contact-page {
    text-align: center;
    margin: 0 auto;
    min-height: 80vh;
    padding-top: 25px;
}


#sign-up, #log-out, #log-in, #add-edit-post {
    background-color: #1c1b1b;
    color: #fff;
    border-radius: 15px;
    width: 800px;
    max-width: 80%;
    padding: 25px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 50vh;
}

#add-edit-post {
    width: 1000px;
}


@media screen and (max-width: 600px) {
    #sign-up, #log-out, #log-in {
        max-width: 75%;
        margin-bottom: 50px;
            
    }
}

@media screen and (max-width: 320px) {
    #sign-up, #log-out, #log-in {
        max-width: 75%;
        margin-top: 25px;
            
    }
}



/* Buttons  */

.btn-signup {
    background-color: #e04c4c;
    color: #fafafa;
    border-radius: 5px;
    border: none;
}

.btn-like {
    color: #e04c4c;
    border: none;
    background: transparent;
}

.contact-btn {
    margin-top: 5px;
    background-color: #1c1b1b;
    color: #fafafa;
    border: none;
}

.contact-btn:hover {
    background-color: #e04c4c;
    color: #fafafa;
}

.comment-btn {
    margin-top: 5px;
}

/* Footer */

#footer {
    height: 150px;
    width: 100%;
    color: #fafafa;
    background-color: #1c1b1b;
s}

.social-links>li {
    display: inline;
    padding-left: 20px;
    font-size: 200%;
}

.social-links i {
    padding-top: 20px;
    color: #fafafa;
    margin: 0 2%;
}

.social-links i:hover {
    color: #e04c4c;
}

@media screen and (max-width: 770px) {

    /* Base html */

    .cover-box h1 {
        font-size: 3rem;
    }

    .nav-links ul li {
        display: block;
        color: #fff;
        padding-top: 25px;
    }

    .nav-links {
        position: fixed;
        background: #1c1b1b;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: right;
        z-index: 2;
        transition: 1s;
    }

    .nav-links ul {
        padding: 30px;
    }

    .nav-links a {
        color: #fff;
        font-family: 'Bebas Neue', cursive;
        text-decoration: none;
        font-size: 2rem;
    }

    nav .fa-solid {
        display: block;
        color: #fafafa;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    nav .fa-xmark {
        color: #fff;
    }

    .hero-banner {
        padding: 2rem 0 6rem 0;
        text-align: center;
        height: 30px;
    }

    /* Account container */

    .account-container {
        min-height: 80vh;
        width: 80%;
        position: relative;
        display: inline-block;
        justify-content: left;
        left: 10%;
    }

    html,
    body {
        overflow-x: hidden;
    }

    #logo {
        font-size: 200%;
    }
}



@media screen and (max-width: 320px) {
    .masthead {
        height: 50vh;
    }
    .col-1 {
        width: 20%;
    }
}